body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	margin-top: 10%;
    display: flex;
    flex-direction: column;
	width: 850px;
	height: 100%;
	background: red;
	overflow: scroll;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.main {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }

.header-adm {
	display: flex;
	background: linear-gradient(135deg, #280250, #0C0B17);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.catolica-news { 
	color:#e0dede;
	font-size: 60px;
}

label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 45px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

button {
	width: 15%;
	height: 40px;
	margin: 10px;
	justify-content: center;
	display: block;
	color: #0C0B17;
	background: #ffffff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #280250;
	color: #fff;
}

.buttons-container {
	margin-left: 20%;
	display: flex;
	flex-direction: row;
}

.delete-button {
	color: #000 ;
	background-color: #ffffff;
	padding: 10px;
}

.delete-button:hover {
	background-color: #b84444;
}

.update-button:hover {
	background-color: #44b87e;
}

.news-body {
    width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 0px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    cursor: pointer;
}

.news-content { 
	max-height: 350px;
    height: 30%;
    overflow: hidden;
    cursor: pointer;
}

.news-container {
	height: 100%;
	min-height: 500px;
}

.send-update {
	margin: 0;
}

.full-article-content {
	height: auto;
	overflow: auto;
}

.news-pub-author {
	border-top-left-radius: 0px ;
	border-top-right-radius: 0px;
	margin: 0px auto;
}

.general-info {
	height: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}



.large-font{
	font-size:xxx-large;
  }
  .top-20{
	position:relative;
	top:20vh;
  }
  ion-icon.active{
	animation:like 0.5s 1;
	fill:red;
	stroke:none;
  }
  ion-icon{
	fill:transparent;
	stroke:black;
	stroke-width:30;
	transition:all 0.5s;
  }
  
  
  @-webkit-keyframes like {
	0%   { transform: scale(1); }
	90%   { transform: scale(1.2); }
	100% { transform: scale(1.1); }
  }