<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Católica Forum</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <nav class="nav nav-borders">
            {% include "header.html" %}
        </nav>
    </div>
    <h1 class="catolica-news">{{article[0][1]}}</h1>
    <div class="main" id="main">  	
        {% include "card.html" %}
    </div>
</body>
</html>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hearts = document.querySelectorAll('.heart-svg')
    document.getElementById('form_comment').reset();
    

    hearts.forEach(function (card) {
        const articleId = card.getAttribute('data-article-title');
        const article = {{ article|tojson|safe }};
        var user_likes_array = {{ user_likes|tojson|safe }};
        user_likes_array.flat()
        let currentColor = '#000000';
        let like = false

        // Initial color

        if(articleId == article[1] && user_likes_array.flat().includes(article[0])){
            currentColor = '#e12929'
        }

        card.addEventListener('click', function() {
            currentColor = (currentColor === '#000000') ? '#e12929' : '#000000';
            like = (like === false) ? true : false;

            likesCounter = parseInt(document.getElementById(`${articleId}-total-likes`).innerHTML)

            if(currentColor == '#e12929') {
                document.getElementById(`${articleId}-total-likes`).innerHTML = likesCounter + 1
            } else {
                document.getElementById(`${articleId}-total-likes`).innerHTML = likesCounter - 1
            }

            // Apply the new color
            card.setAttribute("fill", currentColor)
            
            const data = new URLSearchParams();
            data.append('like', like.toString())
            data.append('title', articleId)

            path = window.location.origin + `/send_like`
                
            fetch(path, {
                method: 'POST',
                body: data,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
            .then(response => {
                // Lide com a resposta, se necessário
                console.log(response);
                // window.location.href = '/login'
            })
            .catch(error => {
                // Lide com o erro, se necessário
                console.error('Erro ao enviar a solicitação:', error);
            });

        })
    })
  })
</script>
  
</body>
</html>
