<div class="user-card">
  <span class="avatar-holder">
    <!-- <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0Mzk4NjU1Mw&ixlib=rb-1.2.1&q=80&w=200" alt="Avatar"> -->
    {% if profile_pic[article[2]] %}
      <img src="data:;base64,{{profile_pic[article[2]]}}" alt="Avatar">
    {% endif %}
  </span>
  <span class="user-info-holder">
    <h2 class="name">{{article[2]}}</h2>
    <span class="skill">{{article[1]}}</span>

    <div class="evaluations">
      <span class="stars evaluation">
        <span class="star-icon evaluation-icon">
          <svg id="{{article[1]}}" card-like-heart="{{article[1]}}" width="800px" height="800px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
            {% if user_likes|length == 0 %}
                <path data-article-title="{{ article[1] }}" class="heart-svg" fill="#000000" d="M11.434 1a4.604 4.604 0 00-3.226 1.322L8 2.527l-.208-.205A4.589 4.589 0 004.566 1 4.589 4.589 0 001.34 2.322 4.5 4.5 0 000 5.522a4.5 4.5 0 001.34 3.2l6.133 6.061a.75.75 0 001.054 0l6.132-6.06a4.52 4.52 0 00.992-1.467 4.482 4.482 0 00-.992-4.934A4.604 4.604 0 0011.433 1z"/>
            {% endif %}
            <path data-article-title="{{ article[1] }}" class="heart-svg" fill="#000000" d="M11.434 1a4.604 4.604 0 00-3.226 1.322L8 2.527l-.208-.205A4.589 4.589 0 004.566 1 4.589 4.589 0 001.34 2.322 4.5 4.5 0 000 5.522a4.5 4.5 0 001.34 3.2l6.133 6.061a.75.75 0 001.054 0l6.132-6.06a4.52 4.52 0 00.992-1.467 4.482 4.482 0 00-.992-4.934A4.604 4.604 0 0011.433 1z"/>
            {% for like in user_likes  %}
              {% if article[0] == like[0] %}
                  <path data-article-title="{{ article[1] }}" class="heart-svg" fill="#e12929" d="M11.434 1a4.604 4.604 0 00-3.226 1.322L8 2.527l-.208-.205A4.589 4.589 0 004.566 1 4.589 4.589 0 001.34 2.322 4.5 4.5 0 000 5.522a4.5 4.5 0 001.34 3.2l6.133 6.061a.75.75 0 001.054 0l6.132-6.06a4.52 4.52 0 00.992-1.467 4.482 4.482 0 00-.992-4.934A4.604 4.604 0 0011.433 1z"/>
              {% endif %}
            {% endfor %}
          </svg>  
        </span>
        <span class="star-text evaluation-text" id="{{article[1]}}-total-likes">{{article[3]}}</span>
      </span>

      <span class="reviews evaluation">
        <span class="reviews-icon evaluation-icon">
          <svg fill="#1C2B62" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 473 473" xml:space="preserve">
            <g>
              <g>
                <path class="comment-svg" card-comment="{{article[1]}}" data-article-title="{{ article[1] }}" d="M403.581,69.3c-44.7-44.7-104-69.3-167.2-69.3s-122.5,24.6-167.2,69.3c-86.4,86.4-92.4,224.7-14.9,318
                  c-7.6,15.3-19.8,33.1-37.9,42c-8.7,4.3-13.6,13.6-12.1,23.2s8.9,17.1,18.5,18.6c4.5,0.7,10.9,1.4,18.7,1.4
                  c20.9,0,51.7-4.9,83.2-27.6c35.1,18.9,73.5,28.1,111.6,28.1c61.2,0,121.8-23.7,167.4-69.3c44.7-44.7,69.3-104,69.3-167.2
                  S448.281,114,403.581,69.3z M384.481,384.6c-67.5,67.5-172,80.9-254.2,32.6c-5.4-3.2-12.1-2.2-16.4,2.1c-0.4,0.2-0.8,0.5-1.1,0.8
                  c-27.1,21-53.7,25.4-71.3,25.4h-0.1c20.3-14.8,33.1-36.8,40.6-53.9c1.2-2.9,1.4-5.9,0.7-8.7c-0.3-2.7-1.4-5.4-3.3-7.6
                  c-73.2-82.7-69.4-208.7,8.8-286.9c81.7-81.7,214.6-81.7,296.2,0C466.181,170.1,466.181,302.9,384.481,384.6z"/>
                <circle cx="236.381" cy="236.5" r="16.6"/>
                <circle cx="321.981" cy="236.5" r="16.6"/>
                <circle cx="150.781" cy="236.5" r="16.6"/>
              </g>
            </g>
          </svg>
        </span>
        <span class="reviews-text evaluation-text">{{ article[6] }}</span>
      </span>
    </div>

      <span class="">
        <span class="student-icon evaluation-icon">
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a class="twitter-share-button"
             target="_blank"
             href="https://twitter.com/intent/tweet?text=Talvez%20você%20goste%20deste%20artigo:%20{{ article[1] }}%20"
             data-size="large"
             data-text="testando botao"
             data-url="https://www.catolicanews.onrender.com/login/get_news/?news={{ article[1] | urlencode }}"
             data-via="catolicanews"
             data-related="twitterapi,twitter"
            >
             Tweet
          </a>
        </span>
      </span> 
    
    {% if full_article %}
      <span class="desc">
        <p>{{article[5]}}</p>
      </span>
    {% else %}
      <span class="desc">
        <p>{{article[5][:200] ~ '...'}}</p>
      </span>
    {% endif %}

    {% if show_comment_area %}
      <form action="/submit_comment" method="POST" id="form_comment">
        <input style="display: none;" type="text" value="{{article[1]}}" name="title"></input>
        <textarea class='autoExpand textarea-comment' name="comment" id="comment-text-area" rows='3' data-min-rows='3' placeholder='Digite aqui seu comentário'  maxlength="200" autofocus required></textarea>    
        <button class="button-send-comment submit-comment" data-article-title="{{article[1]}}" id="submit-comment" type="submit">Enviar</button>
      </form>
    {% endif %}

    {% if show_likes %}
        <h4>Curtidas: </h4>
          <div class="show_likes_container">
            <p class="list-group-item">{{ show_likes }}</p>
          </div>
          <hr class="solid">

    {% endif %}

    {% if show_comments %}
      <h3>Comentários</h3>
      <ul class="list-group">
        {% for tuple in show_comments %}
          <li class="list-group-item">{{tuple[2]}}</li>
          <p>{{tuple[1]}}</p>
          <hr class="solid">
        {% endfor %}
      </ul>
    {% endif %}

    {% if show_more_btn %}
      <span class="button">
        <button class="show-more-btn show-more-button" id="show-more-button" data-article-title="{{ article[1] }}">Ver mais</button>
      </span>
    {% endif %}

    {% if update_delete %}
      <div class="update_delete_btns">
        <span class="button">
          <button class="show-more-btn delete-news-button" id="delete-news-button" data-article-title="{{ article[1] }}">Deletar</button>
          </span><span class="button">
          <button class="show-more-btn update-news-button" id="update-news-button" data-article-title="{{ article[1] }}">Atualizar</button>
        </span>
      </div>
    {% endif %}
</div>

