<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/fetchNews.js') }}"></script>
</head>
<body>
  <div class="header-adm">
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" onclick="window.location.href = '/login'">Home</a>
        <a class="nav-link" onclick="window.location.href = '/create_news'">Inserir Notícia</a>
        <a class="nav-link" onclick="window.location.href = '/user_news'">Minhas Notícia</a>
        <a class="nav-link" onclick="window.location.href = '/user_profile'">Perfil</a>
    </nav>
  </div>
	<div class="main" id="main">  
        <div class="">
            <div class="login">
				<form class="create-news-form" action="/create_news" method="post">
                    <div class="field">
                        <div class="field__head">
                          <input class="field__ttl" name="titulo" placeholder="Digite o título" for="textarea" required></input>
                        </div>
                        <div class="field__body">
                          <div class="textarea-box">
                            <textarea name="textarea" name="txt" id="textarea" placeholder="Enter message" required></textarea>
                          </div>
                        </div>
                      </div>
					<button>Criar</button>
				</form>
			</div>
        </div>
	</div>
</body>
<script>
</script>
</html>
</body>
</html>
