<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
	<div class="main">  	
		{% if login_fail %}
			<div class="error-message">
				Login incorreto
			</div>
		{% endif %}
		{% if sigun_up == False %}
            <div class="error-message">
                Usuario ou email já cadastrado
            </div>
        {% endif %}
		
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="/sing_up" method="post">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required>
					<input type="email" name="email" placeholder="Email" required>
					<input type="password" name="pswd" placeholder="Password" required>
					<div class="adm_input_container">
						<input class="adm_input_signup" type="checkbox" name="isadm" id="adm-checkbox" />
						<label class="adm_input_label" for="adm-checkbox">ADM</label>
					</div>
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form action="/login" method="post">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="txt" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Nome de Usuário" required="">
					<input type="password" name="pswd" placeholder="Senha" required="">
					<button>Login</button>
				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
