<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
    <title>Católica News</title>
</head>
<body>
    
</body>
</html>
<div class="container-xl px-4 mt-4">
    <nav class="nav nav-borders">
        <nav class="nav nav-borders">
            {% include "header.html" %}
        </nav>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Foto Perfil</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="data:;base64,{{profile_pic}}"" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG ou PNG menor que 5MB</div>
                    <!-- Profile picture upload button-->
                    <div class="d-grid gap-2 d-md-block">
                        <form action="/upload_profile_pic" method="POST" enctype="multipart/form-data">
                            <input class="form-control form-control-sm" id="formFileSm" name="profile-pic" type="file" accept="image/jpg, image/jpeg" required>
                            <button class="btn btn-primary submit-pic-btn" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Detalhes do Perfil</div>
                <div class="card-body">
                    <form action="/update_profile" method="POST">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Nome de Usuário</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="{{user[0]}}" readonly>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Nome Completo</label>
                                {% if user[2]!= None %}
                                    <input class="form-control" name="full-name" id="inputFirstName" type="text" placeholder="Enter your first name" value="{{user[2]}}" required>
                                {% else %}
                                    <input class="form-control" name="full-name" id="inputFirstName" type="text" placeholder="Enter your first name" required>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Local</label>
                                {% if user[8]!= None %}
                                    <input class="form-control" name="city" id="inputLocation" type="text" placeholder="Enter your location" value="{{user[8]}}" required>
                                {% else %}
                                    <input class="form-control" name="city" id="inputLocation" type="text" placeholder="Enter your location" required>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="{{user[5]}}" readonly>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Telefone</label>
                                {% if user[9] != None %}
                                    <input class="form-control" name="phone" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{user[9]}}" required>
                                {% else %}
                                    <input class="form-control" name="phone" id="inputPhone" type="tel" placeholder="Enter your phone number" required>
                                {% endif %}
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Data de Nascimento</label>
                                {% if user[10] != None %}
                                    <input class="form-control" name="birthday" id="inputBirthday" type="text" name="birthday" placeholder="Data de Nascimento" value="{{user[10]}}" required>
                                {% else %}
                                    <input class="form-control" name="birthday" id="inputBirthday" type="text" name="birthday" placeholder="Data de Nascimento" required>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </form>
                    <div class="row gx-3 mb-3 save-news-container">
                        {% if adm_options %}
                        <form action="/download_news" method="GET">
                            <hr class="solid">
                            <button class="btn btn-primary btn-sabe-news" type="submit">Baixar minhas notícias</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>