<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_adm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
</head>
<body>
    <div class="header-adm">
        <nav class="nav nav-borders">
            {% include "header.html" %}
        </nav>
    </div>
	<div class="main" id="main">  	
        {% for article in articles  %}
            {% include "card.html" %}
        {% endfor %}
	</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cardsDelete = document.querySelectorAll('.delete-news-button');
        const cardsUpdate = document.querySelectorAll('.update-news-button');

        cardsDelete.forEach(function (card) {
            const articleId = card.getAttribute('data-article-title');
            card.addEventListener('click', function () {
                window.location.href = `delete_news_page/delete/?news=${articleId}`
            });
        });

        cardsUpdate.forEach(function (card) {
            const articleId = card.getAttribute('data-article-title');
            card.addEventListener('click', function () {
                window.location.href = `update_news_page/?news=${articleId}`
            });
        });

    });
</script>

</html>
</body>
</html>
